@font-face {
  font-family: "Samsung Sharp Sans";
  font-weight: 700;
  src: url(../dex-test/resources/fonts/samsungsharpsans/samsungsharpsans-bold.eot);
  src: url(../dex-test/resources/fonts/samsungsharpsans/samsungsharpsans-bold.eot?#iefix) format("embedded-opentype"), url(../dex-test/resources/fonts/samsungsharpsans/samsungsharpsans-bold.ttf) format("truetype"), url(../dex-test/resources/fonts/samsungsharpsans/samsungsharpsans-bold.woff) format("woff"), url(../dex-test/resources/fonts/samsungsharpsans/samsungsharpsans-bold.woff2) format("woff2"), url(../dex-test/resources/fonts/samsungsharpsans/samsungsharpsans-bold.otf) format("otf"), url(../dex-test/resources/fonts/samsungsharpsans/samsungsharpsans-bold.svg#samsungsharpsans-bold) format("svg");
}
@font-face {
  font-family: "Samsung Sharp Sans";
  font-weight: 500;
  src: url(../dex-test/resources/fonts/samsungsharpsans/samsungsharpsans-medium.eot);
  src: url(../dex-test/resources/fonts/samsungsharpsans/samsungsharpsans-medium.eot?#iefix) format("embedded-opentype"), url(../dex-test/resources/fonts/samsungsharpsans/samsungsharpsans-medium.otf) format("otf"), url(../dex-test/resources/fonts/samsungsharpsans/samsungsharpsans-medium.svg#samsungsharpsans-medium) format("svg"), url(../dex-test/resources/fonts/samsungsharpsans/samsungsharpsans-medium.ttf) format("truetype"), url(../dex-test/resources/fonts/samsungsharpsans/samsungsharpsans-medium.woff) format("woff"), url(../dex-test/resources/fonts/samsungsharpsans/samsungsharpsans-medium.woff2) format("woff2");
}
@font-face {
  font-family: "Eudoxus Sans";
  font-weight: 700;
  src: url(../dex-test/resources/fonts/EudoxusSans/EudoxusSans-Bold.eot);
  src: url(../dex-test/resources/fonts/EudoxusSans/EudoxusSans-Bold.eot?#iefix) format("embedded-opentype"), url(../dex-test/resources/fonts/EudoxusSans/EudoxusSans-Bold.otf) format("otf"), url(../dex-test/resources/fonts/EudoxusSans/EudoxusSans-Bold.svg#EudoxusSans-Bold) format("svg"), url(../dex-test/resources/fonts/EudoxusSans/EudoxusSans-Bold.ttf) format("truetype"), url(../dex-test/resources/fonts/EudoxusSans/EudoxusSans-Bold.woff) format("woff"), url(../dex-test/resources/fonts/EudoxusSans/EudoxusSans-Bold.woff2) format("woff2");
}
@font-face {
  font-family: "Eudoxus Sans";
  font-weight: 400;
  src: url(../dex-test/resources/fonts/EudoxusSans/EudoxusSans-Regular.eot);
  src: url(../dex-test/resources/fonts/EudoxusSans/EudoxusSans-Regular.eot?#iefix) format("embedded-opentype"), url(../dex-test/resources/fonts/EudoxusSans/EudoxusSans-Regular.otf) format("otf"), url(../dex-test/resources/fonts/EudoxusSans/EudoxusSans-Regular.svg#EudoxusSans-Regular) format("svg"), url(../dex-test/resources/fonts/EudoxusSans/EudoxusSans-Regular.ttf) format("truetype"), url(../dex-test/resources/fonts/EudoxusSans/EudoxusSans-Regular.woff) format("woff"), url(../dex-test/resources/fonts/EudoxusSans/EudoxusSans-Regular.woff2) format("woff2");
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*, *::before, *::after {
  box-sizing: border-box;
}

.container {
  margin: 0 auto;
  max-width: 1280px;
}

@media screen and (max-width: 1300px) {
  .container {
    padding-left: 10px;
    padding-right: 10px;
  }
}
.btn {
  border: 1px solid #2E6DFE;
  border-radius: 7px;
  background-color: #2E6DFE;
  color: #FFFFFF;
  font-family: "Samsung Sharp Sans", "Arial", "Helvetica", sans-serif;
  font-weight: 700;
  line-height: 1.3;
  text-decoration: none;
  cursor: pointer;
  transition: all 300ms;
}
.btn:hover {
  transform: scale(1.1);
}

.pulse {
  box-shadow: 0 0 0 0 rgb(52, 172, 224);
  animation: pulse-blue 2s infinite;
}
.pulse:hover {
  animation: none;
}

@keyframes pulse-blue {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(52, 172, 224, 0.7);
  }
  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(52, 172, 224, 0);
  }
  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(52, 172, 224, 0);
  }
}
.header {
  background-color: #FFFFFF;
  padding: 29px 0;
}
.header__container {
  display: flex;
  justify-content: space-between;
}
.header__logo {
  display: flex;
  font-family: "Samsung Sharp Sans", "Arial", "Helvetica", sans-serif;
}
.header__logo .text {
  margin-left: 16px;
  line-height: 1.1;
}
.header__logo .text span:first-of-type {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 34px;
}
.header__logo .text span:last-of-type {
  text-transform: capitalize;
  font-weight: 500;
  font-size: 16px;
}
.header__actions {
  flex-grow: 1;
  flex-shrink: 1;
  display: flex;
  justify-content: right;
}
.header__button {
  padding: 14px 30px;
  font-size: 20px;
}

.main .content {
  padding-top: calc(10px + 5.0658561297vh);
  position: relative;
  z-index: 1;
}
.main .content__text .title {
  font-family: "Samsung Sharp Sans", "Arial", "Helvetica", sans-serif;
  line-height: 1.3;
  font-size: calc(24px + 2.25vw);
  font-weight: 700;
  color: #0F2851;
}
.main .content__text .title span {
  color: #2E6DFE;
}
.main .content__text .description {
  margin-top: calc(10px + 1.7223910841vh);
  font-family: "Eudoxus Sans", "Arial", "Helvetica", sans-serif;
  line-height: 1.3;
  font-size: calc(14px + 0.5vw);
  font-weight: 400;
  color: #0F2851;
}
.main .content__text .description span {
  font-weight: 700;
}
.main .content__widget {
  margin-top: calc(10px + 3.0395136778vh);
  border-radius: 10px;
  text-align: center;
  padding: 24px 32px 14px;
  padding-top: 38px;
  width: fit-content;
  background-color: #FFFFFF;
  box-shadow: 0px 0 10px rgba(0, 0, 0, 0.3);
}
.main .content__widget .button {
  width: 100%;
  padding: 13px 70px;
  font-size: calc(10px + 1.125vw);
}
.main .content__widget .button img {
  margin-left: 10px;
}
.main .content__widget .button:hover .arrow-right {
  animation: arrowMove 1s infinite;
}
.main .content__widget .description {
  margin-top: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Eudoxus Sans", "Arial", "Helvetica", sans-serif;
  font-size: calc(12px + 0.5vw);
  line-height: 1.3;
  color: #0F2851;
}
.main .content__widget .description p {
  text-align: left;
  font-weight: 400;
}
.main .content__widget .description span {
  font-weight: 700;
}
.main .content__widget .description .gift-holder {
  margin-right: 14px;
  padding: 13px;
  padding-bottom: 6.5px;
  border-radius: 10px;
  background-color: #F5F8FE;
}

@keyframes arrowMove {
  0% {
    transform: translateX(4px);
  }
  25% {
    transform: scale(6px);
  }
  50% {
    transform: scale(8px);
  }
  75% {
    transform: scale(10px);
  }
  100% {
    transform: scale(12px);
  }
}
html {
  font-size: 16px;
}

body {
  background-color: #F5F8FE;
}

.main {
  margin: 0 auto;
  max-width: 1600px;
  background-color: #F5F8FE;
  height: calc(100vh - 114px);
  position: relative;
}
.main__decoration {
  height: 100%;
  max-height: 800px;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 0;
}

@media screen and (min-height: 1200px) {
  .main__decoration {
    top: 0;
  }
}
@media screen and (max-width: 1300px) {
  .main__decoration {
    max-height: 700px;
  }
}