// -----------------------------------------------------------------------------
// This file contains all styles related to the main content component.
// -----------------------------------------------------------------------------

.main {
    & .content {
        padding-top: calc(10px + 50 * (100vh / 987));
        position: relative;
        z-index: 1;
        &__text {
            
            & .title {
                font-family:'Samsung Sharp Sans', 'Arial', 'Helvetica', sans-serif;
                line-height: 1.113;
                font-size: calc(24px + 36 * (100vw / 1600));
                font-weight: 700;
                color: $text-color;

                & span {
                    color: $main-color;
                }
            }

            & .description {
                margin-top: calc(10px + 17 * (100vh / 987));
                font-family:'Eudoxus Sans', 'Arial', 'Helvetica', sans-serif;
                line-height: 1.4;
                font-size: calc(14px + 8 * (100vw / 1600)); //22
                font-weight: 400;
                color: $text-color;

                & span {
                    font-weight: 700;
                }
            }
        }

        &__widget {
            margin-top: calc(10px + 30 * (100vh / 987));
            border-radius: 10px;
            text-align: center;
            padding: 24px 32px 14px;
            padding-top: 38px;
            width: fit-content;
            background-color: $header-bg-color;

            box-shadow: 0px 0 10px rgba(0, 0, 0, 0.3);
    
            & .button {
                width: 100%;
                padding: 13px 70px;
                font-size: calc(10px + 18 * (100vw / 1600)); 

                & img {
                    margin-left: 10px;
                }

                &:hover {
                    & .arrow-right {
                        animation: arrowMove 1s infinite;
                    }
                }
            }

            & .description {
                margin-top: 24px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                font-family: 'Eudoxus Sans', 'Arial', 'Helvetica', sans-serif;
                font-size: calc(12px + 8 * (100vw / 1600));
                line-height: 1.26;
                color: $text-color;

                & p {
                    text-align: left;
                    font-weight: 400;
                }

                & span {
                    font-weight: 700;
                }

                & .gift-holder {
                    margin-right: 14px;
                    padding: 13px;
                    padding-bottom: 6.5px;
                    border-radius: 10px;
                    background-color: $main-bg-color;
                }
            }
        }

    }
}

@keyframes arrowMove {
    0% {
        transform: translateX(4px);
    }   
    25% {
        transform: scale(6px);
    }
    50% {
        transform: scale(8px);
    }
    75% {
        transform: scale(10px);
    }
    100% {
        transform: scale(12px);
    }
}