// -----------------------------------------------------------------------------
// This file contains all application-wide fonts.
// -----------------------------------------------------------------------------

  @font-face {
    font-family: 'Samsung Sharp Sans';
    font-weight: 700; 
    src: url(./resources/fonts/samsungsharpsans/samsungsharpsans-bold.eot);
    src: url(./resources/fonts/samsungsharpsans/samsungsharpsans-bold.eot?#iefix) format('embedded-opentype'),
         url(./resources/fonts/samsungsharpsans/samsungsharpsans-bold.ttf) format('truetype'),
         url(./resources/fonts/samsungsharpsans/samsungsharpsans-bold.woff) format('woff'),
         url(./resources/fonts/samsungsharpsans/samsungsharpsans-bold.woff2) format('woff2'),
         url(./resources/fonts/samsungsharpsans/samsungsharpsans-bold.otf) format('otf'),
         url(./resources/fonts/samsungsharpsans/samsungsharpsans-bold.svg#samsungsharpsans-bold) format('svg');
  }

  @font-face {
    font-family: 'Samsung Sharp Sans';
    font-weight: 500;
    src: url(./resources/fonts/samsungsharpsans/samsungsharpsans-medium.eot);
    src: url(./resources/fonts/samsungsharpsans/samsungsharpsans-medium.eot?#iefix) format('embedded-opentype'),
         url(./resources/fonts/samsungsharpsans/samsungsharpsans-medium.otf) format('otf'),
         url(./resources/fonts/samsungsharpsans/samsungsharpsans-medium.svg#samsungsharpsans-medium) format('svg'),
         url(./resources/fonts/samsungsharpsans/samsungsharpsans-medium.ttf) format('truetype'),
         url(./resources/fonts/samsungsharpsans/samsungsharpsans-medium.woff) format('woff'),
         url(./resources/fonts/samsungsharpsans/samsungsharpsans-medium.woff2) format('woff2');
  }


  
  @font-face {
    font-family: 'Eudoxus Sans';
    font-weight: 700;
    src: url(./resources/fonts/EudoxusSans/EudoxusSans-Bold.eot);
    src: url(./resources/fonts/EudoxusSans/EudoxusSans-Bold.eot?#iefix) format('embedded-opentype'),
         url(./resources/fonts/EudoxusSans/EudoxusSans-Bold.otf) format('otf'),
         url(./resources/fonts/EudoxusSans/EudoxusSans-Bold.svg#EudoxusSans-Bold) format('svg'),
         url(./resources/fonts/EudoxusSans/EudoxusSans-Bold.ttf) format('truetype'),
         url(./resources/fonts/EudoxusSans/EudoxusSans-Bold.woff) format('woff'),
         url(./resources/fonts/EudoxusSans/EudoxusSans-Bold.woff2) format('woff2');
  }

  @font-face {
    font-family: 'Eudoxus Sans';
    font-weight: 400;
    src: url(./resources/fonts/EudoxusSans/EudoxusSans-Regular.eot);
    src: url(./resources/fonts/EudoxusSans/EudoxusSans-Regular.eot?#iefix) format('embedded-opentype'),
         url(./resources/fonts/EudoxusSans/EudoxusSans-Regular.otf) format('otf'),
         url(./resources/fonts/EudoxusSans/EudoxusSans-Regular.svg#EudoxusSans-Regular) format('svg'),
         url(./resources/fonts/EudoxusSans/EudoxusSans-Regular.ttf) format('truetype'),
         url(./resources/fonts/EudoxusSans/EudoxusSans-Regular.woff) format('woff'),
         url(./resources/fonts/EudoxusSans/EudoxusSans-Regular.woff2) format('woff2');
  }
  