// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

$main-color     : #2E6DFE;
$text-color     : #0F2851;
$main-bg-color       : #F5F8FE;
$header-bg-color   : #FFFFFF; 
$btn-text-color : #FFFFFF;

$main-heigth: calc(100vh - 114px);