// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------

.btn {
    border: 1px solid $main-color;
    border-radius: 7px;
    background-color: $main-color;
    color: $btn-text-color;
    font-family: 'Samsung Sharp Sans', 'Arial', 'Helvetica', sans-serif;
    font-weight: 700;
    line-height: 1.3;
    text-decoration: none;
    cursor: pointer;
    transition: all 300ms;

    &:hover {
        transform: scale(1.1);
    }
}

.pulse {
    box-shadow: 0 0 0 0 rgba(52, 172, 224, 1);
    animation: pulse-blue 2s infinite;

    &:hover {
        animation: none;
    }
}

@keyframes pulse-blue {
    0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(52, 172, 224, 0.7);
    }

    70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(52, 172, 224, 0);
    }

    100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(52, 172, 224, 0);
}
}